* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
}

#calculator {
  display: grid;  
  background-color: gray;
}

#display {
    background-color: black;
    width: 200px;
    height: 50px;
}

.operations {
    background-color: azure;
    height: 50px;
    width: 200px;
}

.numbersdotac {
    display: grid;
    background-color: beige;
    width: 200px;
    grid-template-columns: 20px 20px 20px;    
}


.ndac {
    background-color: blueviolet;
    height: 20px;
    width: 20px;
}

.equals {
    background-color: brown;
}