* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgba(35, 150, 165, 0.582);
  display: grid;  
  align-items: center;
}

#calculator {
  display: grid;
  justify-content: center;    
  
}

#display {
  display: flex;
  background-color: black;
  width: 400px;
  height: 100px;
  color: white;
  justify-content: right;
  align-items: center;
  border: 1px solid black;
  font-size: 3em;
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  background-color: rgb(240, 234, 234);
  text-align: center;
  align-items: center;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  font-size: 3rem;
}

.operations:hover {
  cursor: pointer;
}

#ndae {
  display: grid;
  grid-template-columns: 75% 25%;
}

.numbersdotac {
  display: grid;  
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.ndac {
  display: flex;
  background-color: rgb(238, 235, 241);
  height: 60px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 2rem;  
}

.ndac:hover {
  cursor: pointer;
}

.equals {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: orange;  
  border: 1px solid black;
  font-size: 3rem;
}

.equals:hover {
  cursor: pointer;
}
